@using AvsarGame.Portal.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">
    <main class="Main">
        <div style="margin-top: 50px"></div>
        <div class="container">
            <div class="tab-pane fade show active" id="login-tab" role="tabpanel">
                <!--Body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="announce-box announce-danger">
                                <p>
                                    @ViewBag.Result
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
           var fullName  = '@UrlExtension.FriendlyUrl(SessionManager.Instance.GetFullName())';
            location.href = "/" + fullName;
        }, 1800);
    });

    $(window).on('load', function () {
        $(document.getElementsByClassName("reglog")[0]).css("display", "none");
        $(document.getElementsByClassName("reglog")[1]).css("display", "none");
        $(document.getElementsByClassName("dropdown-cart")[0]).css("display", "none");

        var bearer  = Cookies.get('bearer')
        var userId = Cookies.get('userId')
        var fullName = Cookies.get('fullName')

        var model = {
            Bearer: bearer,
            UserId: userId,
            FullName: fullName
        }
        $.ajax({
            type: 'post',
            url: '/User/SetSessionParametersAfterPayment',
            content: "application/json; charset=utf-8",
            dataType: 'json',
            data: model,
            beforeSend: function () {
                showSpinner();
            },
            complete: function () {
                hideSpinner();
            }
        });

    });

</script>