@using AvsarGame.API.Models
@model List<AvsarGame.API.Models.GameModel>

@functions {
    private decimal Calculated(List<GameModel> model)
    {
        decimal totalAmount = Decimal.Zero;
        foreach (var item in model)
        {
            totalAmount = totalAmount + item.SellPrice;
        }
        return totalAmount;
    }
}

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="page-wrapper">
    <main class="Main">
        <div class="container payment-methods-container">
            <div class="title-primary">Ödeme</div>
            <div class="section tab-primary">
                <ul class="nav nav-pills " id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-payment-summary-tab" data-toggle="pill"
                           href="#payment-summary" role="tab" aria-controls="payment-summary"
                           aria-selected="false">Sipariş Özeti</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                 
                <div class="tab-pane active show" id="payment-summary" role="tabpanel"
                         aria-labelledby="pills-payment-summary-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="announce-box announce-danger">
                                        <p>
                                            İşlem onaylandı. Chatten müşteri hizmetlerimizle iletişime geçip ödeme bildirebilirsiniz. Bildirdikten sonra istediğiniz karaktere istediğiniz aktarımları sağlayabilirsiniz
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="table-container">
                                    <table class="table table-dark responsive-table total-table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ürün Adı</th>
                                                <th scope="col">Miktar</th>
                                                <th scope="col">Fiyat</th>
                                                <th scope="col">Toplam</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row">
                                                    Lorem ipsum, dolor sit amet consectetur adipisicing
                                                    elit. Cumque, doloribus.
                                                </td>
                                                <td>10</td>
                                                <td>24 TL</td>
                                                <td>240 TL</td>

                                            </tr>
                                            <tr>
                                                <td scope="row">Halo 4</td>
                                                <td>10</td>
                                                <td>24 TL</td>
                                                <td>240 TL</td>

                                            </tr>
                                            <tr>
                                                <td scope="row">Skyrim</td>
                                                <td>10</td>
                                                <td>24 TL</td>
                                                <td>240 TL</td>

                                            </tr>
                                            <tr>

                                                <td scope="row">Star Wars</td>
                                                <td>10</td>
                                                <td>24 TL</td>
                                                <td>240 TL</td>

                                            </tr>
                                            <tr class="total-amount">
                                                <td colspan="2" scope="col">Toplam Tutar:</td>
                                                <td colspan=" 2" scope="col">960 TL</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
</div>