@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">

    <main class="Main">
        <div class="container">
            <div class="title-primary">Yardım / Destek</div>
        </div>

        <div class="container section">
            <div class="faq-category-container">
                <div class="title-secondary led led-before">Üyelik</div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq1">
                        <p class="collapse-title">Sitenize nasıl üye olurum?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq1">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Sitemize kayıt olmak için ÜYE OL butonuna tıklayıp gerekli bilgileri doldurmalısınız.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq2">
                        <p class="collapse-title">Şifremi unuttum, ne yapmalıyım?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq2">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="faq-category-container">
                <div class="title-secondary led led-before">Ödeme</div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq3">
                        <p class="collapse-title">Nasıl ödeme yapabilirim?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq3">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Sitemizde bulunan Ödeme Yöntemleri  bölümünde size en uygun seçeneği  tıklayarak ödeme yapabilirsiniz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq61">
                        <p class="collapse-title">Hesabıma nasıl bakiye yükleyebilirim?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq61">
                        <div class="collapse-content">
                            <div>
                                Ödeme yaptıktan sonra profilinizde bulunan Ödeme Bildir butonundaki bilgileri girerek bakiye yükleyebilirsiniz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq5">
                        <p class="collapse-title">Bakiyenin yüklendiğini nasıl öğrenebilirim?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq5">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Bakiyeniz onaylandıktan sonra sms ile bilgilendirme yapılacaktır. Profilinizdeki Bildirimlerim kısmından işlemlerinize bakabilirsiniz.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-category-container">
                <div class="title-secondary led led-before">Alış-veriş</div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq6">
                        <p class="collapse-title">Nasıl alışveriş yapabilirim?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq6">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                -Satın almak istediğiniz ürünü sepetinize ekleyiniz.
                            </div>
                            <div class="collapse-text">
                                -Sepetinizde bulunan alışverişi tamamla butonuna tıklayınız.
                            </div>
                            <div class="collapse-text">
                                -İstenilen bilgileri girdikten sonra Alışverişi Tamamla kısmına tıklayarak siparişinizi verebilirsiniz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq7">
                        <p class="collapse-title">Knight online GOLD BAR (GB)  nasıl teslim alacağım?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq7">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                -Knight online GOLD BAR satın alabilmeniz için öncelikle sitemize ödeme yaparak bakiye yükleyiniz
                            </div>
                            <div class="collapse-text">
                                -Sipariş vermeden önce oyunda teslimat yerinde hazır olup siparişinizi veriniz.
                            </div>
                            <div class="collapse-text">
                                -Siparişinizin ardından ortalama 5-10 dk içerisinde teslimatınız gerçekleşmektedir.
                            </div>
                            <div class="collapse-text">
                                -Knight Online Gb size oyun içinde ve Trade ile teslim edilmektedir.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>