@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">

    <main class="Main">
        <div class="container">
            <div class="title-primary">Yardım / Destek</div>
        </div>

        <div class="container section">
            <div class="faq-category-container">
                <div class="title-secondary led led-before">Üyelik</div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq1">
                        <p class="collapse-title">TC Kimlik Numarası Neden Gerekli ?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq1">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Sitemizdeki ödeme yöntemleri ile bakiye yüklemeniz ve hesabinizda yasanan çalinma,
                                kaybolma vb. gibi sorunlarda aninda müdahale yapmak için TC Kimlik Numarasi gerekli.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq2">
                        <p class="collapse-title">TC Kimlik Numarası Neden Gerekli ?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq2">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Sitemizdeki ödeme yöntemleri ile bakiye yüklemeniz ve hesabinizda yasanan çalinma,
                                kaybolma vb. gibi sorunlarda aninda müdahale yapmak için TC Kimlik Numarasi gerekli.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq3">
                        <p class="collapse-title">Nasıl Üye Olurum ?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq3">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Sitemize kayit olmak çok kolaydir. Yapmaniz gereken tek sey 'Kaydol' baglantisina
                                tiklamak ve istenen bilgileri eksiksiz doldurmaktir.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq4">
                        <p class="collapse-title">Üye Bilgilerimi ve Şifremi Nasıl Değiştirebilirim ?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq4">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Sitemize daha önce girmis oldugunuz bilgileri degistirmek istediginizde yapmaniz
                                gereken
                                tek sey; ana menüdeki 'Hesap Ayarlarim' baglantisini tiklayip açilan sayfada ilgili
                                yerleri doldurmaktir.

                                Üye bilgilerinizi ve sifrenizi güncellemek için <a href="javascript:void(0)">tiklayin.</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq5">
                        <p class="collapse-title">TC Kimlik Numarası Neden Gerekli ?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq5">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Sitemizdeki ödeme yöntemleri ile bakiye yüklemeniz ve hesabinizda yasanan çalinma,
                                kaybolma vb. gibi sorunlarda aninda müdahale yapmak için TC Kimlik Numarasi gerekli.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="faq-category-container">
                <div class="title-secondary led led-before">Ödeme</div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq6">
                        <p class="collapse-title">TC Kimlik Numarası Neden Gerekli ?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq6">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Sitemizdeki ödeme yöntemleri ile bakiye yüklemeniz ve hesabinizda yasanan çalinma,
                                kaybolma vb. gibi sorunlarda aninda müdahale yapmak için TC Kimlik Numarasi gerekli.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq7">
                        <p class="collapse-title">TC Kimlik Numarası Neden Gerekli ?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq7">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Sitemizdeki ödeme yöntemleri ile bakiye yüklemeniz ve hesabinizda yasanan çalinma,
                                kaybolma vb. gibi sorunlarda aninda müdahale yapmak için TC Kimlik Numarasi gerekli.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse-container">
                    <a class="collapse-head" data-toggle="collapse" data-target="#faq8">
                        <p class="collapse-title">TC Kimlik Numarası Neden Gerekli ?</p>
                    </a>
                    <div class="collapse multi-collapse" id="faq8">
                        <div class="collapse-content">
                            <div class="collapse-text">
                                Sitemizdeki ödeme yöntemleri ile bakiye yüklemeniz ve hesabinizda yasanan çalinma,
                                kaybolma vb. gibi sorunlarda aninda müdahale yapmak için TC Kimlik Numarasi gerekli.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>