
/* Additional css */

.showcase-item{
    transition: all .2s ease;
}

.showcase-item:hover {transform:scale(1.2);}

.shop-section .showcase-item, .tab-products .showcase-item{
   text-align: center;
    background: rgba(0,0,0,.2);
    border-radius: 5px;
}
.shop-section .showcase-item:hover .showcase-img{
    transform: none;
}
.shop-section .showcase-item{
    width: 198px;
}
.shop-section .showcase-img{
    width: 100% !important;
    height: 175px !important;
    background-size: cover !important;
    background-position: center center !important;
}
.shop-section .showcase-item .name:last-child, .tab-products .showcase-item .price{
    display: block;
    margin:0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0,0,0,0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.shop-section .showcase-img, .tab-products .showcase-img{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tab-products .showcase-item:hover{
    transform: none;
}
.tab-products .tab-content .showcase-item{
    width:198px;
}
.tab-products .tab-content .showcase-img{
    width: 100%; 
    height: 150px;  
}
.product-container .product-img{
    height: 140px;
}

/* Ad pages */
.addAdsUrl .img-container {
    position: relative;
    height: 90px;

}

.addAdsUrl .img-container p {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.4);
    width: 200px;
}

.addAdsUrl .ad-img {
    position: absolute;
    width: 200px;
    height: 90px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.addAdsUrl .ad-options a {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 999px;
    font-weight: 600;
    text-align: center;
    display: block;
    text-decoration: none;
}

.addAdsUrl .section {
    margin-bottom: 30px;
}

.addAdsUrl .section:last-child {
    margin-bottom: 70px;
}


.addAdsUrl .form-group label {
    margin-right: 15px;
    margin-bottom: 0;
}

.addAdsUrl .form-select,
input {
    width: 100%;
}

.addAdsUrl .ad-form button {
    font-size: 13px !important;
}

.addAdsUrl .form-group .col-12 {
    margin-bottom: 10px;
}

.addAdsUrl .add-time label,
.addAdsUrl .add-time i {
    cursor: pointer;
}

.addAdsUrl .url-q {
    font-size: 12px;
}

textarea.form-control {
    color: rgba(69, 83, 100, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.03),
        inset 0 0 0 1px rgba(0, 0, 0, 0.06), 0 1px 0 0 hsla(0, 0%, 100%, 0.03);
}

textarea.form-control:focus {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04),
        0 5px 15px 0 rgba(0, 138, 229, 0.3),
        inset 0 0 0 1px rgba(0, 154, 255, 0.8);
}

.addAdsUrl .file-container {
    position: relative;
    width: 150px;
    height: 150px;
}

.addAdsUrl .file-container .file-img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border: 1px solid #455364;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addAdsUrl .file-container .file-img-container .loaded-img {
    display: none;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


.addAdsUrl .file-container .file-img-container i {
    display: block;
}

.addAdsUrl .file-container .file-input-container,
.addAdsUrl .file-container .file-input-container input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;

}
/* Filter Page */

.filter-page .list-row,
.filter-page .filter-row {
    color: #54616f;
    font-weight: 700;
}

.filter-page .filter-row {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.filter-page .filter-row .col {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.filter-page .filter-row .col:hover {
    background: rgba(0, 0, 0, 0.1);
}

.filter-page .list-row .col {
    text-align: center;
}

.filter-page .list-row .col:not(:last-child) {
    border-right: 1px solid #54616f;

}

form input.form-control::placeholder {
    color: #455364;
}

/* Detail Page */

.new-detail .recommended-img {
    width: 200px;
    height: 270px;
    display: block;
    margin: auto;
}

.new-detail .detail-icon {
    display: flex;
    width: 40px;
    padding: 10px 0 7px 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 15px;
}

.new-detail .amount {
    color: #54616f;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.new-detail .product-info-container .announce-box {
    color: #54616f;
    align-items: center;
    display: flex;
    padding: 20px;
}

.new-detail .announce-box.announce-danger:before {
    width: 20px;
    height: 20px;
}

.new-detail .section {
    margin-bottom: 30px;
}

.new-detail .section:last-child {
    margin-bottom: 70px;
}

.new-detail .details {
    color: #54616f;
    font-weight: 600;
}

.addAdsUrl form input.form-control, .filter-page form input.form-control,
.addAdsUrl .form-select select, .filter-page .form-select select,
.addAdsUrl textarea.form-control, .addAdsUrl textarea.form-control:focus,
.filter-page textarea.form-control, .filter-page textarea.form-control:focus,
.addAdsUrl .form-csCheck-checkmark, .filter-page .form-csCheck-checkmark,
.new-detail textarea.form-control, .new-detail textarea.form-control:focus
{
    background-color: rgba(255, 255, 255, 0.9);
}



#shop-slider .showcase-item:hover{
    transform: none;
}

.filter-page .search-wrapper{
    position: relative;
}
.filter-page .search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    color: #6c757d;
    font-weight: 500;
}
 
.showcase-item-wrapper{
   padding: 0 15px;
}


.breadcrumb-wrapper {
    position: relative;
    padding: 0 60px;
    height: 25px;
    margin: 15px 0;
}

/* .breadcrumb-wrapper::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 8px;
    background: #333;
    background: linear-gradient(#333, #000);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */

.breadcrumb {
    margin-bottom: 0;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    padding: 0;
    padding-right: 25px;
    background-color: transparent;
}

.breadcrumb-img {
    position: absolute;
    left: 10px;
    top: -18px;
    width: 60px;
    height: 60px;
    transform: rotate(68deg);
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    color: white;
    padding: 0 10px 0 40px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
}

.breadcrumb a:first-child {
    padding-left: 20px;
    border-radius: 5px 0 0 5px;
}

.breadcrumb a:first-child:before {
    left: 14px;
}

.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0;
    padding-right: 20px;
}

.breadcrumb a.active,
.breadcrumb a:hover {
    background: #333;
    background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after,
.breadcrumb a:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}

.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 25px;
    height: 25px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    box-shadow: 2px -2px 0 2px #009aff, 3px -3px 0 2px #0088e8;
    border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
    right: -9px;
    box-shadow: none;
}


.comment-wrapper {
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.comment-body {
    margin-bottom: 12px;
}

.comment-options {
    font-size: 12px;

}

.author {
    font-weight: bold;
}


.comment-info {
    color: #54616f;
}

.comment-date {
    margin-right: 10px;
}

.comment-hour {
    margin-right: 20px;
}

.comment-wrapper.answer {
    margin-left: 30px;
    margin-top: 5px;
}

.icon-group {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icon-group-inner {
    margin-right: 10px;
}

.icon-group i {
    cursor: pointer;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.9);
}


.icon-group .icon-group-inner i {
    margin-right: 5px;
}

.navbar-collapse .notifications{
    width: 35px !important;
    padding-right: 0 !important;
}
.navbar-collapse .user-dropdown{
    padding-left: 0 !important; 
}
.navbar-collapse .notifications .dropdown-toggle::after, .navbar-collapse .notifications .dropdown-toggle::before{
    display: none
}

.notifications{
    position: relative;
}

.showcase.name-inside .showcase-info .name{
    opacity: 0;
    position: absolute;
    bottom:10px;
    left:0 ;
    right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    transition: all 0.2s ease;
}

.showcase.name-inside .showcase-item:hover .showcase-info .name{
opacity: 1;
}
