@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">
    <main class="Main">
        <div style="margin-top: 50px"></div>
        <div class="container">
            <div class="tab-pane fade show active" id="login-tab" role="tabpanel">
                <!--Body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="announce-box announce-danger">
                                <p>
                                    Telefon Numaranız Onaylandı. Yönlendiriliyorsunuz...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    $(document).ready(function () {
        var resOk = '@ViewBag.returnUrl'
        setTimeout(function () {
            location.href = resOk
        }, 1800);
        localStorage.clear();
    });
</script>