@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">
    <main class="Main">
        <div style="margin-top: 50px"></div>
        <div class="container">
            <div class="row section profile-section">
                <div class="col-lg-9 col-12  profile-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section tab-primary">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade active show" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                                        <div class="row">
                                            <div class="col-6 col-sm-4 col-md-3 profile-icon-col">
                                                <a href="#" class="profile-icon-container">
                                                    <img src="~/assest/img/GPay.png" width="140" height="40" alt="gpay" />
                                                    <p class="icon-title">
                                                        Kredi kartı
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <form asp-action="pay" asp-controller="Payment" method="post">
                                                <input hidden="hidden" name="paymentMethod" value="krediKarti" />
                                                <div class="form-row align-items-center">
                                                    <div class="col-auto">
                                                        <label class="text-white">Yatırılacak Tutar</label>
                                                        <input type="text" style="background-color:white" name="amount" class="form-control mb-2" id="amountOfBalance" placeholder="0.00">
                                                    </div>
                                                    <div class="col-auto">
                                                        <label class="text-white" for="inlineFormInputGroup">Ödenecek Tutar</label>
                                                        <div class="input-group mb-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text"></div>
                                                            </div>
                                                            <input type="text" style="background-color:white" name="amountWithCommission" disabled="disabled" class="form-control" id="amountOfBalanceWithCms" placeholder="0.00">
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="submit" style="margin-top: 23px;" id="paymentBtn" class="btn btn-success">Ödemeye git</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="announce-box announce-danger">
                                                    <p>
                                                        Yatırılacak tutar hesabınıza aktarılacak tutardır. Ödenecek Tutar ise Gpay ile ödemeler de alınan %2 komisyonlu bedeldir.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    $(document).ready(function () {
        $("#amountOfBalance").on('change', function () {
            if (parseFloat(this.value) == 0 || this.value == "") {
                document.getElementById("amountOfBalanceWithCms").value = "0.00"
            }
            else {
                document.getElementById("amountOfBalanceWithCms").value = parseFloat(this.value) + parseFloat(this.value) / 100 * 2;
            }
        });

        $("#paymentBtn").on('click', function (e) {
            var amount = document.getElementById("amountOfBalanceWithCms").value;
            if (parseFloat(amount) <= 1 || amount == "") {
                e.preventDefault();
                alert("Mininmum 10 tl ödeme yapmalısınız")
            }
        });
    });
</script>