@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="page-wrapper">
        <main class="Main">
            <div style="margin-top:50px"></div>
            <div class="container">
                <div class="row section profile-section">
                    <div class=" col-12 col-lg-3 side">
                        <div class="row">
                            <div class="col-12">
                                <div class="nav flex-lg-column flex-row pb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active" id="payment-tab" data-toggle="pill" href="#payment" role="tab" aria-controls="payment" aria-selected="true">Bakiye Ve Ödeme</a>

                                    <a class="nav-link" id="notifications-tab" data-toggle="pill" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">Bildirimlerim</a>

                                    <a class="nav-link" id="orders-tab" data-toggle="pill" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Siparişlerim</a>

                                    <a class="nav-link" id="settings-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Ayarlar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-12  profile-container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section tab-primary">
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fade active show" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                                            <div class="row">
                                                <div class="col-6 col-sm-4 col-md-3 profile-icon-col">
                                                    <a href="#" class="profile-icon-container">
                                                        <i class="fas fa-lira-sign  fa-2x"></i>
                                                        <p class="icon-title">Bakiye</p>
                                                    </a>
                                                </div>
                                                <div class="col-6 col-sm-4 col-md-3 profile-icon-col">
                                                    <a href="#" class="profile-icon-container">
                                                        <i class="far fa-credit-card  fa-2x"></i>
                                                        <p class="icon-title">Para Yükle</p>
                                                    </a>
                                                </div>
                                                <div class="col-6 col-sm-4 col-md-3 profile-icon-col">
                                                    <a href="#" class="profile-icon-container">
                                                        <i class="far fa-credit-card  fa-2x"></i>
                                                        <p class="icon-title">Para Çek</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
                                        </div>

                                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                            @await Component.InvokeAsync("Duyuru")
                                        </div>
                                        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                            4
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>