 @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
 <div class="page-wrapper new-detail">
        <main class="Main">
            <div class="container">


                <div class="row section">
                    <div class="col-12 col-lg-6 side">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-12">

                                <img class="recommended-img  mb-5" src="./assets/img/mass-effect.jpg" alt="" />
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="title-primary led led-before mb-4 mt-0">Raptor Rebirth +9
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-12 d-flex align-items-center mb-3">
                                        <div class="detail-icon d-inline-block">
                                            <i class="fas fa-history" style="color: white"></i>
                                        </div>
                                        <div class="text-white d-inline-block">24 Mayıs 2020 Pazar 02:04:28 tarihinde
                                            sona erecek.
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3">
                                    <div class="col-12 d-flex align-items-center">
                                        <div class="detail-icon d-inline-block">
                                            <i class="fas fa-truck" style="color: white"></i>
                                        </div>
                                        <div class="text-white d-inline-block">Bu ürün 24 saat içerisinde teslim
                                            edilmektedir.
                                        </div>
                                    </div>
                                </div>
                                <p class="amount">₺4000</p>
                                <button class="button btn-blue w-100 mt-4" type="submit">
                                    SATIN AL
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row section">
                    <div class="col-12 col-lg-6">
                        <div class="announce-box">
                            <i class="fas fa-comment-dots fa-2x mr-3"></i>
                            <p>Ürün Açıklaması</p>
                        </div>
                        <p class="details">Hemen Teslim</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="announce-box">
                            <i class="fas fa-award fa-2x mr-3"></i>
                            <p>Özellikler</p>
                        </div>
                        <p class="details">Server Seçimi: Sirius</p>
                    </div>
                </div>
            </div>
        </main>
 </div>