@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


     <div class="page-wrapper new-detail">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <img class="breadcrumb-img" style="-webkit-user-select: none;margin: auto;"
                    src="https://vikings.help/users/vikings/imgExtCatalog/big/m106.png">
                <div class="breadcrumb">
                    <a href="#" class="active">Browse</a>
                    <a href="#">Compare</a>
                    <a href="#">Order Confirmation</a>
                    <a href="#">Checkout</a>
                </div>
            </div>
        </div>
        <main class="Main">
            <div class="container">
                <div class="row section">
                    <div class="col-12 col-lg-6 side">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-12">

                                <img class="recommended-img  mb-5" src="./assets/img/mass-effect.jpg" alt="" />
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="title-primary led led-before mb-4 mt-0">Raptor Rebirth +9
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-12 d-flex align-items-center mb-3">
                                        <div class="detail-icon d-inline-block">
                                            <i class="fas fa-history" style="color: white"></i>
                                        </div>
                                        <div class="text-white d-inline-block">24 Mayıs 2020 Pazar 02:04:28 tarihinde
                                            sona erecek.
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3">
                                    <div class="col-12 d-flex align-items-center">
                                        <div class="detail-icon d-inline-block">
                                            <i class="fas fa-truck" style="color: white"></i>
                                        </div>
                                        <div class="text-white d-inline-block">Bu ürün 24 saat içerisinde teslim
                                            edilmektedir.
                                        </div>
                                    </div>
                                </div>
                                <p class="amount">₺4000</p>
                                <button class="button btn-blue w-100 mt-4" type="submit">
                                    SATIN AL
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row section product-info-container">
                    <div class="col-12 col-lg-6">
                        <div class="announce-box">
                            <i class="fas fa-comment-dots fa-2x mr-3"></i>
                            <p>Ürün Açıklaması</p>
                        </div>
                        <p class="details">Hemen Teslim</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="announce-box">
                            <i class="fas fa-award fa-2x mr-3"></i>
                            <p>Özellikler</p>
                        </div>
                        <p class="details">Server Seçimi: Sirius</p>
                    </div>
                </div>
            </div>

            <div class="container">
                <h3 class="title-secondary led led-before d-flex align-items-center"> <i class="fas fa-comment-dots mr-3"></i> Yorumlar</h3>
                <div class="row">
                    <div class="col-12">
                        <div class="announce-box announce-danger">
                            <p>
                                Hiç yorum bulunmamaktadır.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row comment-wrapper">
                    <div class="comment-body col-12">
                        <p class="comment">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sit ad ut aut
                            architecto
                            error incidunt ab! Eligendi distinctio quisquam vero consectetur provident
                            asperiores
                            nihil et, a, rerum quasi magnam.
                        </p>
                    </div>

                    <div class="comment-options col-12 d-flex justify-content-between">
                        <div class="comment-icons row w-100">
                            <div class="col-12 col-sm-6 d-flex">
                                <div class="icon-group">
                                    <div class="icon-group-inner">
                                        <i class="fas fa-thumbs-up"></i>
                                        <span>25</span>
                                    </div>
                                    <div class="icon-group-inner">
                                        <i class="fas fa-comment-dots comment-toggle"></i>
                                        <span>70</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 comment-info d-flex justify-content-sm-end">
                                <div class="comment-date">16.02.20</div>
                                <div class="comment-hour">20:20</div>
                                <a class="author" href="#">Lorem, ipsum.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row comment-wrapper answer">
                    <div class="comment-body col-12">
                        <p class="comment">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, nostrum impedit sint
                            assumenda totam aliquid earum sit at repellat! Repellendus itaque incidunt at sint
                            voluptatem ea asperiores necessitatibus. Deserunt, tenetur aliquid earum accusantium
                            recusandae, quod doloremque vitae commodi vero ut repellendus voluptatem in repudiandae
                            optio!
                        </p>
                    </div>

                    <div class="comment-options col-12 d-flex justify-content-between">
                        <div class="comment-icons row w-100">
                            <div class="col-12 col-sm-6 d-flex">
                                <div class="icon-group">
                                    <div class="icon-group-inner">
                                        <i class="fas fa-thumbs-up"></i>
                                        <span>25</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 comment-info d-flex justify-content-sm-end">
                                <div class="comment-date">16.02.20</div>
                                <div class="comment-hour">20:20</div>
                                <a class="author" href="#">Lorem, ipsum.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                       <div class="col-12 mt-3">
                                <textarea rows="2" spellcheck="false" class="form-control" id="description"></textarea>
                            </div>
                           <div class="col-12">
                                <button class="ml-auto mt-3 btn-blue button" type="submit">
                                    Yorum Yap
                                </button>
                            </div>
                </div>
            </div>
    </main>
    </div>