@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper addAdsUrl">
    <main class="Main">
        <div class="container">
            <div class="row section justify-content-center" style="margin-top:20px ">
                <div class="col-md-2  ad-options mb-5">
                    <a href="#" class="text-white" style="color: #007bff !important;">Cypher Ring</a>
                </div>
                <div class="col-md-2  ad-options mb-5">
                    <a href="/user/ilan/knightitem" style="cursor:pointer" class="text-white">Item</a>
                </div>
                <div class="col-12" style="border:1px solid">
                    <form action="" class="row ad-form">
                        <div class="col-12 form-group" style="margin-top: 10px;">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-12">
                                    <label class="label-white">Server Seç</label>
                                </div>
                                <div class="col-lg-10 col-12">
                                    <div class="form-select">
                                        <select class="form-control" name="url" id="url" required>
                                            <option disabled selected value="">Server Seçiniz</option>
                                            <option value="ares">Ares</option>
                                            <option value="diez">Diez</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-12">
                                    <label class="label-white">Karakter Özellikleri</label>
                                </div>
                                <div class="col-lg-2 col-12">
                                    <div class="form-select">
                                        <select class="form-control" name="race" id="race" required>
                                            <option disabled selected value="">Human / Karus?</option>
                                            <option value="human">Human</option>
                                            <option value="karus">Karus</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-12">
                                    <div class="form-select">
                                        <select class="form-control" name="level" id="level" required>
                                            <option disabled selected value="">Level?</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-12">
                                    <div class="form-select">
                                        <select class="form-control" name="percent" id="percent" required>
                                            <option disabled selected value="">Yüzde?</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-12">
                                    <div class="form-select">
                                        <select class="form-control" name="type" id="type" required>
                                            <option disabled selected value="">Karakter Türü</option>
                                            <option value="mage">Mage</option>
                                            <option value="warrior">Warrior</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-12">
                                    <label class="label-white">Başlık:</label>
                                </div>
                                <div class="col-lg-10 col-12">
                                    <input type="text" class="form-control" id="title">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-12">
                                    <label class="label-white">Resim yükle:</label>
                                </div>
                                <div class="col-lg-10 col-12">
                                    <div class="row">
                                        <div id="drag-drop-area"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="row align-items-start">
                                <div class="col-lg-2 col-12">
                                    <label class="label-white">Açıklama:</label>
                                </div>
                                <div class="col-lg-8 col-12">
                                    <textarea rows="9" spellcheck="false"
                                              class="form-control" id="description">
                                        </textarea>
                                </div>
                                @*<div class="col-sm-2 col-12">
                                        <label class="label-white" for="desc-msg">Hazır Mesajlar:</label>

                                        <div class="form-select">
                                            <select class="form-control" name="desc-msg" id="desc-msg" required>
                                                <option disabled selected value="">Seçiniz</option>
                                                <option value="1">Hemen teslim</option>
                                                <option value="2">Pazarlık payı vardır</option>
                                            </select>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-12">
                                    <label class="label-white">Fiyat Belirle</label>
                                </div>
                                <div class="col-lg-2 col-12">
                                    <input type="number" class="form-control" id="total">
                                </div>
                                <div class="col-lg-3 col-12 offset-lg-1 offset-0">
                                    <label class="label-white">Hesabınıza Geçecek Tutar</label>
                                </div>
                                <div class="col-lg-2 col-12">
                                    <input type="number" class="form-control"
                                           id="accountTotal">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="row align-items-center">
                                <div class="col-lg-10 col-12">
                                    <label class="form-csCheck text-white ">
                                        <input class="form-check-input form-control" type="checkbox" checked="checked"
                                               id="accept" required />
                                        <span class="form-csCheck-checkmark"></span>
                                        24 Saat Teslimat
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 form-group" style="display:none">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-12">
                                    <label class="label-white">Hafta içi Teslim Saati:</label>
                                </div>
                                <div class="col-lg-2 col-12">
                                    <div class="form-select">
                                        <select class="form-control" name="hi-time1" id="hi-time1">
                                            <option disabled selected value="">0</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-12">
                                    <label class="label-white">ile</label>
                                </div>
                                <div class="col-lg-2 col-12">
                                    <div class="form-select">
                                        <select class="form-control" name="hi-time2" id="hi-time2">
                                            <option disabled selected value="">0</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-12">
                                    <label class="label-white">arası</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 form-group hoursdr" style="display:none">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-12">
                                    <label class="label-white">Hafta sonu Teslim Saati:</label>
                                </div>
                                <div class="col-lg-2 col-12">
                                    <div class="form-select">
                                        <select class="form-control" name="hs-time1" id="hs-time1">
                                            <option disabled selected value="">0</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-12">
                                    <label class="label-white">ile</label>
                                </div>
                                <div class="col-lg-2 col-12">
                                    <div class="form-select">
                                        <select class="form-control" name="hs-time2" id="hs-time2">
                                            <option disabled selected value="">0</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-12">
                                    <label class="label-white">arası</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="row align-items-center">
                                <div class="col-lg-10 col-12">
                                    <label class="form-csCheck text-white ">
                                        <input class="form-check-input form-control" type="checkbox" value=""
                                               id="accept" required />
                                        <span class="form-csCheck-checkmark"></span>
                                        Item satış koşullarını kabul ediyorum.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="row align-items-center">
                                <div class="offset-lg-10 col-lg-2 offset-md-8 col-md-4 offset-6 col-6 mt-3 mt-lg-0">
                                    <button class="button btn-blue w-100" type="submit">
                                        Yayınla
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>
</div>

<script>
    var uppy = Uppy.Core()
        .use(Uppy.Dashboard, {
            inline: true,
            target: '#drag-drop-area',
            height: '400px'
        });
</script>