@using AvsarGame.Portal.Core
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper addAdsUrl">
    <main class="Main">
        <div class="container">
            <div class="row section justify-content-center" style="margin-top: 20px">
                <div class="col-12" style="border: 1px solid">
                    <form action="" class="row ad-form" id="cyberform">
                        <div class="col-12 form-group" style="margin-top: 10px;">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-12">
                                    <label class="label-white">Iban Adresi:</label>
                                </div>
                                <div class="input-group col-lg-9 col-9">
                                    <input type="text" name="Iban" class="form-control" id="title" placeholder="TR 0000 0000 0000 0000 0000 0000">
                                    <div class="input-group-append">
                                        <input class="button btn-blue w-100 col-6" style="margin-left:10px; cursor: pointer" id="moneyWithDraw" value="Gönder" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="announce-box announce-danger">
                                <p>
                                    çekebileceğiniz bakiye: 0000
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="announce-box announce-danger">
                                <p>
                                    Lütfen hesap bilgilerini kontrol ediniz. Yapılacak yanlış beyanlardan AnatoliaGame sorumlu değildir.
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <h3 style="color: green">ilan onayından sonra yayınlanacaktır. <br><br><small>profilinize yönlendiriliyorsunuz..</small></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
      
    });

</script>