 @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="section container news-section">
        <div class="row mb-3">
            <div class="col-lg-11 col-md-10 col-9">
                <h3 class="title-secondary led led-before">Oyunlar</h3>
            </div>
        </div>
        <div id="news-slider" class="">
            <div class="showcase">
                <div class="row">
                        <div class="showcase-item-wrapper">
                        <div class="showcase-item">
                            <a href="#">
                                <img class="showcase-img" src="https://source.unsplash.com/random/160x270" alt="" />
                                <div class="showcase-info">
                                    <p class="name">Skyrim</p>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="showcase-item-wrapper">
                        <div class="showcase-item">
                            <a href="#">
                                <img class="showcase-img" src="https://source.unsplash.com/random/160x270" alt="" />
                                <div class="showcase-info">
                                    <p class="name">Skyrim</p>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="showcase-item-wrapper">
                        <div class="showcase-item">
                            <a href="#">
                                <img class="showcase-img" src="https://source.unsplash.com/random/160x270" alt="" />
                                <div class="showcase-info">
                                    <p class="name">Skyrim</p>
                                </div>
                            </a>
                        </div>
                    </div>
                      <div class="showcase-item-wrapper">
                        <div class="showcase-item">
                            <a href="#">
                                <img class="showcase-img" src="https://source.unsplash.com/random/160x270" alt="" />
                                <div class="showcase-info">
                                    <p class="name">Skyrim</p>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="showcase-item-wrapper">
                        <div class="showcase-item">
                            <a href="#">
                                <img class="showcase-img" src="https://source.unsplash.com/random/160x270" alt="" />
                                <div class="showcase-info">
                                    <p class="name">Skyrim</p>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="showcase-item-wrapper">
                        <div class="showcase-item">
                            <a href="#">
                                <img class="showcase-img" src="https://source.unsplash.com/random/160x270" alt="" />
                                <div class="showcase-info">
                                    <p class="name">Skyrim</p>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="showcase-item-wrapper">
                        <div class="showcase-item">
                            <a href="#">
                                <img class="showcase-img" src="https://source.unsplash.com/random/160x270" alt="" />
                                <div class="showcase-info">
                                    <p class="name">Skyrim</p>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="showcase-item-wrapper">
                        <div class="showcase-item">
                            <a href="#">
                                <img class="showcase-img" src="https://source.unsplash.com/random/160x270" alt="" />
                                <div class="showcase-info">
                                    <p class="name">Skyrim</p>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="showcase-item-wrapper">
                        <div class="showcase-item">
                            <a href="#">
                                <img class="showcase-img" src="https://source.unsplash.com/random/160x270" alt="" />
                                <div class="showcase-info">
                                    <p class="name">Skyrim</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>