@model AvsarGame.API.Models.ResetPasswordModel
@{
    ViewData["Title"] = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">
    <main class="Main">
        <div style="margin-top: 50px"></div>
        <div class="container">
            <div class="tab-pane fade show active" id="login-tab" role="tabpanel">
                <!--Body-->
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <input id="token" hidden="hidden" value="@Model.Token"/>
                        <input id="email" hidden="hidden" value="@Model.Email"/>
                        <div class="form-row form-group">
                            <div class="col-6 ">
                                <div class="pw-container">
                                    <input type="password" class="form-control validate" id="password"
                                           placeholder="Yeni Şifre" required/>
                                    <div class="pw-icon"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-6 ">
                                <div class="pw-container">
                                    <input type="password" class="form-control validate" id="password-confirm"
                                           placeholder="Yeni Şifre(Tekrar)" required/>
                                    <div class="pw-icon"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-6">
                                <button class="button btn-blue w-100" id="resetPassword">
                                    Şifre Değiştir
                                </button>
                            </div>
                        </div>
                        <span class="reset-fail" style="color: white"></span>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="modal fade" id="redirect" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <h3 style="color: green">Şifreniz değiştirildi. <br><br><small>yönlendiriliyorsunuz...</small></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#resetPassword").click(function(e) {
            e.preventDefault();
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("password-confirm").value;

            if (password != confirmPassword) {
                $(document.getElementsByClassName("reset-fail")[0]).html("Şifreler uyuşmuyor.");
                return;
            }

            if (password.length<6) {
                $(document.getElementsByClassName("reset-fail")[0]).html("Şifre çok kısa. minimum 6 karakter olmalı.");
                return;
            }

            var model = {
                Password: document.getElementById("password").value,
                Email: document.getElementById("email").value,
                Token: document.getElementById("token").value
            }

            $.ajax({
                type: 'post',
                url: '/User/ResetPassword',
                headers: { 
                    'Accept': 'application/json',
                    'Content-Type': 'application/json' 
                },
                dataType: 'json',
                data: JSON.stringify(model),
                beforeSend: function() {
                    showSpinner();
                },
                complete: function() {
                    hideSpinner();
                },
                success: function (res) {
                    if (res.success) {
                        if (res.data.isSuccess) {
                            openNotifiyModal();
                        }
                        $(document.getElementsByClassName("reset-fail")[0]).html(res.data.message);
                    }
                },
                error: function (err) {
                    $(document.getElementsByClassName("reset-fail")[0]).html("Bir Hata oluştu");
                }
            });
        });
    });

    
    function openNotifiyModal() {
        $("#redirect").modal({
            backdrop: "static", //remove ability to close modal with click
            keyboard: false, //remove option to close with keyboard
            show: true //Display loader!
        });
        setTimeout(function() {
            location.href = "/user/giris";
            $("#redirect").modal("hide");
        }, 3500);
    }
</script>