@model object

@{
    ViewBag.Title = "İlanlarım";
    Layout = "_Layout";
}

<div class="page-wrapper">
    <main class="Main">
        <div class="container" style="border:1px solid #009aff!important">
            <div class="section tab-primary">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-container">
                                    <table class="table table-dark responsive-table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Oyun Adı</th>
                                                <th scope="col">Fiyat</th>
                                                <th scope="col">Durumu</th>
                                                <th scope="col">İlana git</th>
                                                <th scope="col">İşlemler</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>