<footer class="Footer ">
    <div class="container">
        <div class="row pb-5">
            <div class="col-12"  style="margin-top: 30px" >
                <div class="footer-logo d-flex justify-content-center mb-5">
                    <img src="~/assest/img/ssl.svg" />
                    <img src="~/assest/img/visa.svg" />
                    <img src="~/assest/img/master-card.svg" />
                </div>
            </div>
            <div class="col-12 text-center">
                <p class="copyright">2020 ANATOLIA GAME | Tüm hakları gizlidir.</p>
                <p class="copyright">Büyük Dere Caddesi Levent Beşiktaş/İstanbul</p>
            </div>
        </div>
    </div>
</footer>
