<footer class="Footer ">
    <div class="container">
        <div class="row pb-5">
            <div class="col-12"  style="margin-top: 30px" >
                <div class="footer-logo d-flex justify-content-center mb-5">
                    <img src="~/assest/img/ssl.png" />
                    <img src="~/assest/img/visa.svg" />
                    <img src="~/assest/img/mastercard.png" />
                    <img src="~/assest/img/ininal.png" />
                    <img src="~/assest/img/GPay.png" />
                    
                </div>
            </div>
            <div class="col-12 text-center">
                <p class="copyright">2021 ANATOLIA GAME | Tüm hakları gizlidir.</p>
                <p class="copyright">Reklam ve işbirliği için: info@anatoliagame.com</p>
            </div>
        </div>
    </div>
</footer>
