<footer class="Footer ">
    <div class="container">
        <div class="row Footer-inner">
            <div class="col-6 col-md-3 mb-4 d-flex flex-column">
                <h5 class="list-title led led-below">CONTACT</h5>
                <a href="#">Hakkımızda</a>
                <a href="#">İletişim</a>
                <a href="#">Hakkımızda</a>
                <a href="#">İletişim</a>
            </div>
            <div class="col-6 col-md-3 mb-4 address">
                <p>
                    Anatolia Game
                </p>
                <p>Büyük dere caddesi Levent </p>
                <p>Beşiktaş</p>
                <p>İstanbul</p>
                <p>
                    34000
                </p>
                <p>
                    (793) 151-6230
                </p>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12 text-center">
                <p class="copyright">2020 ANATOLIA GAME | Tüm hakları gizlidir.</p>
            </div>
        </div>
    </div>
</footer>