<header class="Header">
    <div class="Header-filter"></div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand  mr-auto" href="index.html"><img src="/assest/img/logo.png" alt="" /></a>
            <div class="form-wrapper ml-auto">
                <form class="form-inline">
                    <input class="form-control d-lg-inline-block d-none w-100" type="search"
                           placeholder="Arama..." />
                </form>
                <div class="search-icon ml-auto" data-toggle="search-form"></div>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul id="main-nav" class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal"
                           onclick="showRegister()">ÜYE OL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" onclick="showLogin()"
                           data-target="#login-modal">GİRİŞ</a>
                    </li>
                    <li class="nav-item passive">
                        <a class="nav-link" href="cart.html">SEPET <span>(0)</span> </a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr />
        <nav id="second-nav" class="d-lg-block d-none navbar navbar-expand-lg  m-auto ">
            <ul class="d-flex justify-content-around navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item nav-item2 position-static dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        OYUNLAR
                    </a>

                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-2 col-md-2 mb-4 mb-lg-0">
                                <h5 class="dropdown-title list-title led led-below">
                                    GAMES
                                </h5>
                                <a class="dropdown-item list-item" href="payment-methods2.html">Hakkımızda</a>
                                <a class="dropdown-item list-item" href="#">İletişim</a>
                                <a class="dropdown-item list-item" href="#">Hakkımızda</a>
                                <a class="dropdown-item list-item" href="#">İletişim</a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-2 col-md-2 mb-4 mb-lg-0">
                                <h5 class="dropdown-title list-title led led-below">
                                    ABOUT
                                </h5>
                                <a class="dropdown-item list-item" href="#">Hakkımızda</a>
                                <a class="dropdown-item list-item" href="#">İletişim</a>
                                <a class="dropdown-item list-item" href="#">Hakkımızda</a>
                                <a class="dropdown-item list-item" href="#">İletişim</a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-2 col-md-2 mb-4 mb-lg-0">
                                <h5 class="dropdown-title list-title led led-below">
                                    CONTACT
                                </h5>
                                <a class="dropdown-item list-item" href="#">Hakkımızda</a>
                                <a class="dropdown-item list-item" href="#">İletişim</a>
                                <a class="dropdown-item list-item" href="#">Hakkımızda</a>
                                <a class="dropdown-item list-item" href="#">İletişim</a>
                            </div>
                            <div class="col-12 col-md-6 offset-lg-1 col-lg-5 mb-4 mb-lg-0">
                                <div class="d-flex dropdown-image">
                                    <div class="col-6 p-0">
                                        <img class="dropdown-image-img" src="~/assest/img/dropdown-img.png"
                                             alt="" />
                                    </div>
                                    <div class="col-6 d-flex align-items-center">
                                        <p class="dropdown-image-text text-center w-100">
                                            BLACK DESERT RAMESTERED
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-item2">
                    <a class="nav-link" href="products.html">KNIGHT ONLINE</a>
                </li>
                <li class="nav-item nav-item2">
                    <a class="nav-link" href="payment.html">ITEM & SKIN</a>
                </li>
                @*<li class="nav-item nav-item2">
                    <a class="nav-link" href="games.html">WAX (VGO)</a>
                </li>*@
                @*<li class="nav-item nav-item2">
                    <a class="nav-link" href="orders.html">STEAM</a>
                </li>*@
                <li class="nav-item nav-item2">
                    <a class="nav-link" href="support.html">Yardım</a>
                </li>
                <li class="nav-item nav-item2">
                    <a class="nav-link" href="payment-methods.html">İletişim</a>
                </li>
            </ul>
        </nav>
        <div class="search-form-wrapper">
            <form class="search-form" id="" action="">
                <div class="input-group">
                    <input type="text" name="search" class="search form-control" placeholder="Search" />
                    <span class="input-group-addon" id="basic-addon2">
                        <i class="fa fa-search"
                           aria-hidden="true"></i>
                    </span>
                    <span class="input-group-addon search-close" id="basic-addon2">
                        <i class="fa fa-window-close"
                           aria-hidden="true"></i>
                    </span>
                </div>
            </form>
        </div>
    </div>
</header>